/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *2bde73 green
 *4f4ce3 blue
 *
 *= require_tree .
 *= require_self
 */

html, body {
  margin: 0;
  padding: 0;
  outline: 0;
}


 ul {
  list-style-type: none;
 }

.main {
  background-color: white;
  height: 1000px;
  width: 100%;
  padding: 6%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

.main-header {
  color: darkblue;
}

.main-header:hover {
  cursor: pointer;
}

.error {
  color: red;
}

.link {
  color: blue;
}

.link:hover {
  cursor: pointer;
}

.sign-in-buttons {
  position: fixed;
  top:0px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-field {
  height: 35px;
  width: 235px;
  font-size: 25px;
  color: #321395;


}



.new-project-link {
  margin: 40px;
}

.logged-in-message {
  margin-right: 10px;
}

.button {
  margin-top: 20px;
  background-color: #2bde73;
  color: white;
  border-radius: 3px;
  border: 1px solid black;
  margin: 0 10px 0 0;
  font-size: 15px;
  padding: 7px;
  font-weight: normal;


}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none
}

.index-and-link-container {
  margin-top: 3%;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-index-container {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.project-list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list-item:hover {
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.project-detail-container {
  display: flex;
  flex-direction: row;
  margin: 3%;
  width: 94%;
  align-items: flex-start;
  justify-content: space-between;
}

.project-title-body{
  border: 5px solid #2bde73;
  padding: 20px;
  background-color: white;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-detail-author {
  font-size: 20px;
  padding: 0;
  margin-top: 0;
}

.reward-list {
  padding: 5px;
  padding-bottom: 0;
  margin-left: 5%;
  margin-top: 0;
  width: 25%;
  height: 100%;
  background-color: #2bde73;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reward-goal {
  background-color: lightpink;
  padding: 5%;
  font-size: 20px;
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.complete {
  background-color: lightgreen;
}

.modal-confirm {
  position: fixed;
  top: 20%;
  left: 20%;
  border: 1px solid #ccc;
  background: white;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  borderRadius: 4px;
  outline: none;
  padding: 20px;
  height: 20%;
  width: 40%;
  opacity: .95;
}

.modal-confirm-overlay {
  position: 'fixed';
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 7%;

}

.thumbnail {
  border: 2px solid #321395;
}

.project-list-item {
  color: #321395;
}

.reward-list-item {
  background-color: white;
  width: 98%;
  border-bottom: 5px solid #2bde73;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reward-list-item:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}

.reward-body {
  padding-bottom: 5px;
}

.project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6%;
}

.project-form > input {
  height: 25px;
  width: 235px;
  font-size: 25px;
  color: black;
}

.project-form > .button{
  margin-top: 20px;
  float: right;
  background-color: white;
  height: auto;
  width: auto;
  padding: 8px;
  color: coral;
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 18px;
  margin-top: 2%;
}

.project-form > input::-webkit-input-placeholder {
  font-size: 18px;
}

.project-form-button {
  margin-top: 20px;
  float: right;
  background-color: white;
  color: coral;
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 18px;
}

.user-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area {
  font-size: 25px;
  color: black;
}

.input-area::-webkit-input-placeholder {
  font-size: 18px;
}
